/****** General ***********/
/* Marie : couleurs site 
                Bleu foncé #0065FC --main-color
                Bleu clair #DEEBFF --filter-bg-color
                Grix foncé #D9D9D9 --bg-cards-color
                Gris clair #F2F2F2 --main-bg-color
                 */
* {
    font-family: 'Raleway', sans-serif;
    /* ajout Marie réinitilisation des marges et padding à 0 */
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --bg-cards-color:#D9D9D9; /* Ajout Marie */
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Début header */
header, .header, nav, ul, li {
    display: flex;
}


header {
    flex-direction: column;
}

.header {
    flex-direction: row; /* column sur mob */
    justify-content: space-between;
    align-items:center;
    height: 79px;
    margin-bottom: 30px;
}

.logo {
    height: 19px;
    width: auto;
    padding: 30px 0 30px 0; /* ordre => padding: top right bottom left; */
}

nav {
    align-self: flex-start;
    margin-top: 2px;
}

nav ul {
    gap: 68px; /* ATTENTION sans doute space around en mob */
}

li {
    flex: 1;
}

nav a {
    display: block;
    flex: 1;
}

a li {
    font-size: 16px; /* identiques en tab et mob */
}

nav li {
    padding-top: 16px; /* ATTENTION sur mobile le padding est en bas */
    border-top: 2px solid transparent;

    /* Sur la maquette, ce ne sont pas des balise <a> mais des boutons pour le menu, A VOIR */
}

nav li:hover, nav li:active {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
    
}


/***** Formulaire de recherche *****/
.cta, .search-bar-loc, .search-bar-btn, .filter-bar, .filter-btn-zone, .filter-btn, .icon-info  {
    display: flex;
}

.cta {
    gap: 24px;
}

.cta-text {
    font-size: 16px; /* idem au footer + zone info */
}

h1 {
    font-weight: 700;
    font-size: 22px; /* identique sur tab et mob */
    margin-bottom: 8px;
}

.search-bar-loc, .search-bar-btn {
    justify-content: center;
    align-items: center; 
}    
    
    
.search-bar-loc {  
    width: 50px;
    height: 49px;
    border: 1px solid var(--bg-cards-color);
    background-color: var(--bg-cards-color);
    border-radius: 15px 0 0 15px;
}

.search-bar-loc i {
    color: black;
}

.search-bar input {
    font-weight: 700;
    font-size: 18px;
    height: 49px;
    border-top: 1px solid var(--bg-cards-color);
    border-bottom: 1px solid var(--bg-cards-color);
    border-right: none;
    border-left: none;
    text-align: center;
}

.search-bar-btn {
    height: 51px; /* THEORIQUEMENT 49px mais le css semble ne pas prendre en compte ma bordure ???????? */
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    color: white;
    padding: 0 15px 0 15px;
    font-weight: 700;
    font-size: 18px;
}

.mob-search-btn {
    visibility: hidden;
}

/* Ajout d'un survol bouton recherche, le laisse t'on ? */
.search-bar-btn:hover {
    background-color: rgba(0, 101, 252, 0.9);
}

.filter-bar {
    flex-direction: row; /* ATTENTION passe en column en tab et mob */
    align-items: center;
    gap: 15px; /* ATTENTION 20px pour tab et mob */
}

.filter-title {
    font-size: 18px; 
    font-weight: 700;
    /* idem sur tab et mob */
}

.filter-btn-zone {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-btn {
    justify-content: space-between;
    align-items: center;
    padding: 0 19px 0 19px;
    height: 50px; 
    border: 2px solid var(--bg-cards-color);
    background-color: white;
    border-radius: 25px;
    /* jusque là idem sur tab et mob*/
    gap: 15px; /* ATTENTION Gap 20px pour tab et mob */
    font-size: 20px; /* ATTENTION 16px sur mobile */
}

/* Survol des boutons filtres */
.filter-btn:hover {
    background-color: var(--filter-bg-color);
}

.i-btn {
    font-size: 22px; /* idem tab et mob */
}

.icon-info {
    justify-content: center;
    align-items: center;    
    height: 24px; /* dimensions identique sur tab et mob */
    width: 24px;
    border: 1px solid var(--bg-cards-color);
    border-radius: 12px;
    margin: 0 10px 10px 0;
}
/* Fin header */


/******* Classes communes utilsées à plusieurs endroits du site *******/

/* div flex row align center */
.div-row, .div-column { 
    display: flex;
}

.div-row { 
    flex-direction: row;
    align-items: center;
}

/* div flex column */
.div-column {
    flex-direction: column;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
}

.card { 
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.marg-bottom35 {
    margin-bottom: 35px; /* ATTENTION retirer sur mobile */
}
/****** Fin des communs *******/

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px; /* ATTENTION gap 50px sur tab et gap 15px sur mob */
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color); /* ATTENTION, pas de fond pour la version mob */
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%; /* ATTENTION 100% sur tab et mob */
}

.hebergement-title {
    margin-bottom: 30px;
}

.hebergements-cards, .hebergement-cards .card, .hebergements-cards .card-content {
    display: flex;
}

.hebergements-cards {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.hebergements-cards .card, .hebergements-cards .card-content {
    flex-direction: column;
}

.hebergements-cards .card {
    justify-content: space-between;
}

.hebergements-cards a {
    width: 30%; /* ATTENTION version mob */
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    justify-content: space-between;
    padding-left: 5px; 
    box-sizing: border-box;
    gap: 8px;
}

.hebergements-cards .card-txt .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    /* ci-dessous, pour ne pas avoir de différence de hauteur dans les cards au passage à la ligne des titres les plus grands dois-je le laisser ? */
    text-wrap: nowrap;
    overflow: hidden;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergement-cards .card-rating {
    margin-bottom: 5px;
}

.plus-hebergements {
    font-size: 21px;
    font-weight: 700;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title, .populaires-cards .card, 
.populaires-cards .card-conten {
    display: flex;
}

.populaires-title {
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    flex-direction: column;
    justify-content: space-between;
    width: 67%;
    padding-left: 15px;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******* Activités *******/
.activities {
    display: flex;
    flex-direction: column;
    gap: 30px;/* ATTENTION idem sur tab mais pour  mob gap 50px */
    padding: 30px ;
}

.activities-title {
    justify-content: left;
}

.activities-cards {
    display: flex;
    flex-direction: row; /* ATTENTION en column en version mob */
    justify-content: space-between;
    align-items: center;
}

.activities-cards a {
    width: 24%;
}

.activities-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.activities-cards img {
    width: 100%;
    height: 380px; /* ATTENTION tab 200px et mob 141px */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-title {
    display: flex;
    align-items: center;
    height: 50px;
}


/******** FOOTER *********/
footer {
    display: flex; /* row par défaut mais doit passer en column pour mobile */
    justify-content: space-between;
    padding: 20px;
    gap: 50px;
    background-color: var(--bg-cards-color);
}

.footer-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    gap: 15px;
    width: 33%;

}

.footer-block h2 {
    font-size: 18px;
}

.footer-block ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    align-self: flex-start;
    list-style-type: none;
    gap: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }
    
    .header {
        flex-direction: column;
        height: auto;
        margin-bottom: 15px;
    }

    nav {
        width: 100%;
    }
    
    nav ul {
        width: 100%;
        padding: 0 0 16px 0;
        gap: 0;
    }

    nav li {
        padding-bottom: 16px;
        border-bottom: 2px solid var(--main-bg-color);
    }

    nav li:hover, nav li:active {
        border-top: 2px solid transparent;
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }
}